/* ----------------------------------------------------------------
-------------------------------- SCROLLBAR
---------------------------------------------------------------- */

::-webkit-scrollbar { 
 display: none; 
}

::-moz-scrollbar { 
 display: none; 
}

::-ms-scrollbar { 
 display: none; 
}

/* ----------------------------------------------------------------
-------------------------------- HIGHLIGHT
---------------------------------------------------------------- */

::selection {
  background: palette(grey, x-dark);
  color: $white;
}

::-moz-selection {
  background: palette(grey, x-dark);
  color: $white;
}

/* ----------------------------------------------------------------
-------------------------------- HIDDEN BACKGROUND
---------------------------------------------------------------- */

// html {
//  background-color: palette(grey, x-dark);
// }