/* ----------------------------------------------------------------
-------------------------------- FOOTER
---------------------------------------------------------------- */

.footer1 {
  background-color: palette(grey, x-dark);
}

.footer1__contact {
  color: palette(grey, mid-light);
}

.footer1__citation, .footer1__citation a {
  color: palette(grey, base);
}