/* ----------------------------------------------------------------
-------------------------------- NAV BAR
---------------------------------------------------------------- */

.nav {
  // position: absolute;
  // position: fixed;
  background-color: $white;
}

.nav--left {
	float: left;
}

.nav--right {
	float: right;
}

.nav__logo {
  max-height: 50px;
  width: auto;
}

.nav_items {
  margin-right: -10px;
}

.nav__item {
  font-size: 12px;
  margin: 0px 10px;
  text-transform: uppercase;
  font-family: GothamMedium;
  letter-spacing: 0.12em;
}